<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [1]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

#### Load RSQLite
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [2]:
library("DBI")
library("RSQLite")

In [3]:
# provide your solution here to connect db

# Establish connection to SQLite database
con <- dbConnect(SQLite(), dbname = "my_database.sqlite")

In [4]:
library(readr)

# Download and read CSV files
world_cities <- read_csv("world_cities.csv")
bike_sharing_systems <- read_csv("bike_sharing_systems.csv")
cities_weather_forecast <- read_csv("cities_weather_forecast.csv")
seoul_bike_sharing <- read_csv("seoul_bike_sharing.csv")

# Write tables to SQLite database
dbWriteTable(con, "world_cities", world_cities, overwrite = TRUE)
dbWriteTable(con, "bike_sharingg_systems", bike_sharing_systems, overwrite = TRUE)
dbWriteTable(con, "cities_weather_forecast", cities_weather_forecast, overwrite = TRUE)
dbWriteTable(con, "seoul_bike_sharing", seoul_bike_sharing, overwrite = TRUE)

Parsed with column specification:
cols(
  CITY = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)
Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  SYSTEM = col_character(),
  BICYCLES = col_double()
)
Parsed with column specification:
cols(
  CITY = col_character(),
  WEATHER = col_character(),
  VISIBILITY = col_double(),
  TEMP = col_double(),
  TEMP_MIN = col_double(),
  TEMP_MAX = col_double(),
  PRESSURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  WIND_DEG = col_double(),
  SEASON = col_character(),
  FORECAST_DATETIME = col_datetime(format = "")
)
Parsed with column specification:
cols(
  DATE = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  HOUR = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  VISIBILITY = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  SNOWFALL = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [5]:
# provide your solution here (simple way)
str(seoul_bike_sharing)

tibble [8,465 × 14] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ DATE                 : chr [1:8465] "01/12/2017" "01/12/2017" "01/12/2017" "01/12/2017" ...
 $ RENTED_BIKE_COUNT    : num [1:8465] 254 204 173 107 78 100 181 460 930 490 ...
 $ HOUR                 : num [1:8465] 0 1 2 3 4 5 6 7 8 9 ...
 $ TEMPERATURE          : num [1:8465] -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ HUMIDITY             : num [1:8465] 37 38 39 40 36 37 35 38 37 27 ...
 $ WIND_SPEED           : num [1:8465] 2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ VISIBILITY           : num [1:8465] 2000 2000 2000 2000 2000 ...
 $ DEW_POINT_TEMPERATURE: num [1:8465] -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ SOLAR_RADIATION      : num [1:8465] 0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ RAINFALL             : num [1:8465] 0 0 0 0 0 0 0 0 0 0 ...
 $ SNOWFALL             : num [1:8465] 0 0 0 0 0 0 0 0 0 0 ...
 $ SEASONS              : chr [1:8465] "Winter" "Winter" "Winter" "Winter" ...
 $ HOLIDAY              : chr [1:8465] "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ FUNCTIONING_DAY      : chr [1:8465] "Yes" "Yes" "Yes" "Yes" ...
 - attr(*, "spec")=
  .. cols(
  ..   DATE = col_character(),
  ..   RENTED_BIKE_COUNT = col_double(),
  ..   HOUR = col_double(),
  ..   TEMPERATURE = col_double(),
  ..   HUMIDITY = col_double(),
  ..   WIND_SPEED = col_double(),
  ..   VISIBILITY = col_double(),
  ..   DEW_POINT_TEMPERATURE = col_double(),
  ..   SOLAR_RADIATION = col_double(),
  ..   RAINFALL = col_double(),
  ..   SNOWFALL = col_double(),
  ..   SEASONS = col_character(),
  ..   HOLIDAY = col_character(),
  ..   FUNCTIONING_DAY = col_character()
  .. )

In [6]:
str(cities_weather_forecast)

tibble [160 × 12] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ CITY             : chr [1:160] "Seoul" "Seoul" "Seoul" "Seoul" ...
 $ WEATHER          : chr [1:160] "Clear" "Clear" "Clouds" "Clouds" ...
 $ VISIBILITY       : num [1:160] 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 ...
 $ TEMP             : num [1:160] 12.32 11.48 9.99 7.87 10.09 ...
 $ TEMP_MIN         : num [1:160] 10.91 9.81 8.82 7.87 10.09 ...
 $ TEMP_MAX         : num [1:160] 12.32 11.48 9.99 7.87 10.09 ...
 $ PRESSURE         : num [1:160] 1015 1016 1015 1014 1014 ...
 $ HUMIDITY         : num [1:160] 50 48 46 46 37 48 44 57 51 62 ...
 $ WIND_SPEED       : num [1:160] 2.18 1.25 0.94 0.83 1.96 3.24 5.65 5.63 4.91 4.49 ...
 $ WIND_DEG         : num [1:160] 248 142 130 31 309 267 275 267 280 284 ...
 $ SEASON           : chr [1:160] "Spring" "Spring" "Spring" "Spring" ...
 $ FORECAST_DATETIME: POSIXct[1:160], format: "2021-04-16 12:00:00" "2021-04-16 15:00:00" ...
 - attr(*, "spec")=
  .. cols(
  ..   CITY = col_character(),
  ..   WEATHER = col_character(),
  ..   VISIBILITY = col_double(),
  ..   TEMP = col_double(),
  ..   TEMP_MIN = col_double(),
  ..   TEMP_MAX = col_double(),
  ..   PRESSURE = col_double(),
  ..   HUMIDITY = col_double(),
  ..   WIND_SPEED = col_double(),
  ..   WIND_DEG = col_double(),
  ..   SEASON = col_character(),
  ..   FORECAST_DATETIME = col_datetime(format = "")
  .. )

In [7]:
str(bike_sharing_systems)

tibble [480 × 4] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ COUNTRY : chr [1:480] "Albania" "Argentina" "Argentina" "Argentina" ...
 $ CITY    : chr [1:480] "Tirana" "Mendoza" "San Lorenzo, Santa Fe" "Buenos Aires" ...
 $ SYSTEM  : chr [1:480] NA NA "Biciudad" "Serttel Brasil" ...
 $ BICYCLES: num [1:480] 200 40 80 4000 480 676 2000 1250 1250 600 ...
 - attr(*, "spec")=
  .. cols(
  ..   COUNTRY = col_character(),
  ..   CITY = col_character(),
  ..   SYSTEM = col_character(),
  ..   BICYCLES = col_double()
  .. )

In [8]:
# Another way by using the database

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to count the number of records
query <- "SELECT COUNT(*) AS record_count FROM seoul_bike_sharing"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(paste("Number of records in seoul_bike_sharing:", result$record_count))

# Don't forget to close the connection
dbDisconnect(con)

[1] "Number of records in seoul_bike_sharing: 8465"

[1] TRUE

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [9]:
# Count hours with non-zero rented bike count
non_zero_hours <- sum(seoul_bike_sharing$RENTED_BIKE_COUNT > 0)

# Print the result
print(paste("Number of hours with non-zero rented bike count:", non_zero_hours))

[1] "Number of hours with non-zero rented bike count: 8465"

In [10]:
# Another way by using the database

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to count the number of records
query <- "SELECT COUNT(*) AS record_count FROM seoul_bike_sharing WHERE RENTED_BIKE_COUNT > 0"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(paste("Number of records in seoul_bike_sharing:", result$record_count))

# Don't forget to close the connection
dbDisconnect(con)

[1] "Number of records in seoul_bike_sharing: 8465"

[1] TRUE

In [18]:
## ADDITIONAL FOR PRESENTATION
## Busiest bike rental times

# Load necessary libraries
library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to find the date and hour with the maximum bike rentals
query <- "
  SELECT 
    DATE, 
    HOUR, 
    RENTED_BIKE_COUNT
  FROM seoul_bike_sharing
  WHERE RENTED_BIKE_COUNT = (
    SELECT MAX(RENTED_BIKE_COUNT) FROM seoul_bike_sharing
  )
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

# Close the connection
dbDisconnect(con)

        DATE HOUR RENTED_BIKE_COUNT
1 19/06/2018   18              3556

[1] TRUE

In [25]:
## ADDITIONAL FOR PRESENTATION
## Hourly popularity and temperature by seasons

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to calculate hourly popularity and temperature by season
query <- "
  SELECT 
    SEASONS,
    HOUR,
    AVG(RENTED_BIKE_COUNT) AS avg_rentals,
    AVG(TEMPERATURE) AS avg_temperature
  FROM seoul_bike_sharing
  GROUP BY SEASONS, HOUR
  ORDER BY SEASONS, HOUR
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

   SEASONS HOUR avg_rentals avg_temperature
1   Autumn    0   709.43750      12.3160000
2   Autumn    1   552.50000      11.8987500
3   Autumn    2   377.47500      11.4912500
4   Autumn    3   256.55000      11.0987500
5   Autumn    4   169.02500      10.8037500
6   Autumn    5   163.41250      10.5075000
7   Autumn    6   359.48750      10.2350000
8   Autumn    7   788.87654      10.1567901
9   Autumn    8  1345.03704      10.5567901
10  Autumn    9   848.43210      12.0308642
11  Autumn   10   715.27160      13.9182716
12  Autumn   11   802.95062      15.5666667
13  Autumn   12   934.64198      16.7395062
14  Autumn   13  1002.66667      17.5580247
15  Autumn   14  1058.82716      18.1518519
16  Autumn   15  1156.70370      18.3432099
17  Autumn   16  1293.20988      18.0812346
18  Autumn   17  1562.87654      17.2777778
19  Autumn   18  1983.33333      16.0318519
20  Autumn   19  1515.56790      15.0634568
21  Autumn   20  1321.70370      14.3246914
22  Autumn   21  1253.81481      13.6901235
23  Autumn   22  1130.20988      13.0901235
24  Autumn   23   828.72840      12.5585185
25  Spring    0   481.08889      10.9888889
26  Spring    1   363.94444      10.6097778
27  Spring    2   252.96667      10.2686667
28  Spring    3   168.47778       9.9622222
29  Spring    4   108.22222       9.6944444
30  Spring    5   116.17778       9.4533333
31  Spring    6   257.23333       9.2655556
32  Spring    7   615.28889       9.3831111
33  Spring    8  1036.37778      10.3086667
34  Spring    9   670.38889      11.7444444
35  Spring   10   570.88889      13.2742222
36  Spring   11   681.46667      14.7233333
37  Spring   12   836.37778      15.8922222
38  Spring   13   886.08889      16.8000000
39  Spring   14   925.66667      17.3600000
40  Spring   15   990.97778      17.5111111
41  Spring   16  1101.45556      17.3588889
42  Spring   17  1307.97778      16.8788889
43  Spring   18  1689.31111      15.9722222
44  Spring   19  1247.71111      14.6766667
45  Spring   20  1060.51111      13.5753333
46  Spring   21  1021.12222      12.8377778
47  Spring   22   897.42222      12.2531111
48  Spring   23   622.95556      11.7275556
49  Summer    0   899.06522      24.7521739
50  Summer    1   698.77174      24.3858696
51  Summer    2   505.75000      24.0978261
52  Summer    3   342.67391      23.8010870
53  Summer    4   223.81522      23.5313882
54  Summer    5   245.93478      23.2630435
55  Summer    6   485.83696      23.1259534
56  Summer    7   902.78261      23.4413043
57  Summer    8  1418.59783      24.5358696
58  Summer    9   911.00000      25.8379099
59  Summer   10   723.50000      27.0716055
60  Summer   11   786.85870      28.1228261
61  Summer   12   875.96739      29.1065217
62  Summer   13   890.19565      29.7944316
63  Summer   14   894.67391      30.2455186
64  Summer   15  1009.71739      30.4902174
65  Summer   16  1174.17391      30.4880435
66  Summer   17  1526.29348      30.0769068
67  Summer   18  2135.14130      29.3879099
68  Summer   19  1889.25000      28.2737795
69  Summer   20  1801.92391      27.0663043
70  Summer   21  1754.06522      26.2782609
71  Summer   22  1567.86957      25.6989130
72  Summer   23  1153.90217      25.2313882
73  Winter    0   165.17778      -3.6100000
74  Winter    1   159.05556      -3.8911111
75  Winter    2   117.78889      -4.1744444
76  Winter    3    77.81111      -4.3633333
77  Winter    4    50.47778      -4.5644444
78  Winter    5    51.22222      -4.8033333
79  Winter    6    92.82222      -5.0311111
80  Winter    7   209.56667      -5.2488889
81  Winter    8   422.20000      -5.3266667
82  Winter    9   254.60000      -4.8022222
83  Winter   10   186.40000      -3.3144444
84  Winter   11   228.32222      -1.8433333
85  Winter   12   263.63333      -0.5666667
86  Winter   13   275.25556       0.2166667
87  Winter   14   284.28889       0.8711111
88  Winter   15   298.64444       1.1666667
89  Winter   16   308.57778       0.9822222
90  Winter   17   342.51111       0.1400000
91  Winter   18   438.30000      -0.8355556
92  Winter   19   304.03333      -1.5166667
93  Winter   20   243.23333      -2.0222222
94  Winter   21   240.50000      -2.4366667
95  Winter   22   225.13333      -2.8233333
96  Winter   23   173.43333      -3.1733333

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [11]:
# provide your solution here

library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to get the weather forecast for Seoul over the next 3 hours
query <- "
SELECT *
FROM cities_weather_forecast
WHERE city = 'Seoul'
ORDER BY forecast_datetime
LIMIT 1
"

# Execute the query
seoul_forecast <- dbGetQuery(con, query)

# Print the result
print(seoul_forecast)

# Don't forget to close the connection
dbDisconnect(con)

  row_names  CITY WEATHER VISIBILITY  TEMP TEMP_MIN TEMP_MAX PRESSURE HUMIDITY
1         1 Seoul   Clear      10000 12.32    10.91    12.32     1015       50
  WIND_SPEED WIND_DEG SEASON FORECAST_DATETIME
1       2.18      248 Spring      1618574400.0

[1] TRUE

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [12]:
# provide your solution here

library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to get unique seasons
query <- "SELECT DISTINCT SEASONS FROM seoul_bike_sharing ORDER BY SEASONS"

# Execute the query
seasons <- dbGetQuery(con, query)

# Print the results
print(seasons)

# Don't forget to close the connection
dbDisconnect(con)

  SEASONS
1  Autumn
2  Spring
3  Summer
4  Winter

[1] TRUE

In [27]:
## ADDITIONAL FOR PRESENTATION - Rental Seasonality

# Query to calculate average bike rentals by season
query <- "
  SELECT 
    SEASONS,
    AVG(RENTED_BIKE_COUNT) AS avg_rentals,
    SUM(RENTED_BIKE_COUNT) AS total_rentals,
    COUNT(*) AS rental_days
  FROM seoul_bike_sharing
  GROUP BY SEASONS
  ORDER BY SEASONS
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

  SEASONS avg_rentals total_rentals rental_days
1  Autumn    924.1105       1790002        1937
2  Spring    746.2542       1611909        2160
3  Summer   1034.0734       2283234        2208
4  Winter    225.5412        487169        2160

In [28]:
## ADDITIONAL FOR PRESENTATION - Weather Seasonality

# Query to calculate average weather conditions by season
query <- "
  SELECT 
    SEASONS,
    AVG(TEMPERATURE) AS avg_temperature,
    AVG(HUMIDITY) AS avg_humidity,
    AVG(WIND_SPEED) AS avg_windspeed
  FROM seoul_bike_sharing
  GROUP BY SEASONS
  ORDER BY SEASONS
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

  SEASONS avg_temperature avg_humidity avg_windspeed
1  Autumn       13.821580     59.04491      1.492101
2  Spring       13.021685     58.75833      1.857778
3  Summer       26.587711     64.98143      1.609420
4  Winter       -2.540463     49.74491      1.922685

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [13]:
# provide your solution here

library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to find the first and last dates
query <- "
SELECT 
    MIN(DATE) AS first_date,
    MAX(DATE) AS last_date
FROM seoul_bike_sharing
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the results
print(result)

# Don't forget to close the connection
dbDisconnect(con)

  first_date  last_date
1 01/01/2018 31/12/2017

[1] TRUE

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [14]:
library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to find the date and hour with the most bike rentals
query <- "
SELECT DATE, HOUR, MAX(RENTED_BIKE_COUNT) AS max_rentals
FROM seoul_bike_sharing
GROUP BY DATE, HOUR
ORDER BY max_rentals DESC
LIMIT 1
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

# Close the connection
dbDisconnect(con)

        DATE HOUR max_rentals
1 19/06/2018   18        3556

[1] TRUE

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [15]:
# provide your solution here

library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to calculate average hourly temperature and average bike rentals per hour by season
query <- "
SELECT 
    SEASONS, 
    AVG(TEMPERATURE) AS avg_temperature, 
    AVG(RENTED_BIKE_COUNT) AS avg_bike_count
FROM 
    seoul_bike_sharing
GROUP BY 
    SEASONS
ORDER BY 
    avg_bike_count DESC
LIMIT 10
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the results
print(result)

# Close the connection
dbDisconnect(con)

  SEASONS avg_temperature avg_bike_count
1  Summer       26.587711      1034.0734
2  Autumn       13.821580       924.1105
3  Spring       13.021685       746.2542
4  Winter       -2.540463       225.5412

[1] TRUE

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [16]:
library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to calculate statistics by season
query <- "
SELECT 
    SEASONS, 
    AVG(RENTED_BIKE_COUNT) AS avg_bike_count,
    MIN(RENTED_BIKE_COUNT) AS min_bike_count,
    MAX(RENTED_BIKE_COUNT) AS max_bike_count,
    (AVG(RENTED_BIKE_COUNT * RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT) * AVG(RENTED_BIKE_COUNT)) AS var_bike_count
FROM 
    seoul_bike_sharing
GROUP BY 
    SEASONS
ORDER BY 
    avg_bike_count DESC
"

## The instruction- Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation
## is NOT working

# Execute the query and retrieve the results
result <- dbGetQuery(con, query)

# Calculate standard deviation in R
result$std_dev_bike_count <- sqrt(result$var_bike_count)

# Remove the variance column
result$var_bike_count <- NULL

# Print the results
print(result)

# Close the database connection
dbDisconnect(con)

  SEASONS avg_bike_count min_bike_count max_bike_count std_dev_bike_count
1  Summer      1034.0734              9           3556           690.0884
2  Autumn       924.1105              2           3298           617.3885
3  Spring       746.2542              2           3251           618.5247
4  Winter       225.5412              3            937           150.3374

[1] TRUE

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [17]:
# provide your solution here

library(DBI)
library(RSQLite)

# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to calculate average weather conditions and bike rentals per season
query <- "
SELECT 
    SEASONS, 
    AVG(TEMPERATURE) AS avg_temperature,
    AVG(HUMIDITY) AS avg_humidity,
    AVG(WIND_SPEED) AS avg_wind_speed,
    AVG(VISIBILITY) AS avg_visibility,
    AVG(DEW_POINT_TEMPERATURE) AS avg_dew_point,
    AVG(SOLAR_RADIATION) AS avg_solar_radiation,
    AVG(RAINFALL) AS avg_rainfall,
    AVG(SNOWFALL) AS avg_snowfall,
    AVG(RENTED_BIKE_COUNT) AS avg_bike_count
FROM 
    seoul_bike_sharing
GROUP BY 
    SEASONS
ORDER BY 
    avg_bike_count DESC
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the results
print(result)

# Close the connection
dbDisconnect(con)

  SEASONS avg_temperature avg_humidity avg_wind_speed avg_visibility
1  Summer       26.587711     64.98143       1.609420       1501.745
2  Autumn       13.821580     59.04491       1.492101       1558.174
3  Spring       13.021685     58.75833       1.857778       1240.912
4  Winter       -2.540463     49.74491       1.922685       1445.987
  avg_dew_point avg_solar_radiation avg_rainfall avg_snowfall avg_bike_count
1     18.750136           0.7612545   0.25348732   0.00000000      1034.0734
2      5.150594           0.5227827   0.11765617   0.06350026       924.1105
3      4.091389           0.6803009   0.18694444   0.00000000       746.2542
4    -12.416667           0.2981806   0.03282407   0.24750000       225.5412

[1] TRUE

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [31]:
# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to find the total bike count and city info for Seoul
query <- "
  SELECT 
    CITY,
    COUNTRY,
    SYSTEM,
    BICYCLES AS total_bikes
  FROM bike_sharingg_systems
  WHERE CITY = 'Seoul'
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

   CITY     COUNTRY SYSTEM total_bikes
1 Seoul South Korea   <NA>       20000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [34]:
# Connect to the SQLite database
con <- dbConnect(SQLite(), "my_database.sqlite")

# Query to find cities with comparable bike scale to Seoul
query <- "
  SELECT 
    CITY,
    COUNTRY,
    BICYCLES AS total_bikes
  FROM bike_sharingg_systems
  WHERE BICYCLES >= 15000 AND BICYCLES <= 25000
"

# Execute the query
result <- dbGetQuery(con, query)

# Print the result
print(result)

                                                                                    CITY
1                                                                                Beijing
2                                                                                Kunshan
3                                                                                 Ningbo
4                                                                               Shanghai
5                                                                                 Suzhou
6                                                                                Weifang
7                                                                                  Xi'an
8                                                                                 Xuzhou
9                                                                                Zhuzhou
10 Towns and cities in the Netherlands: all over the country, mainly at railway stations
11                                                                                 Seoul
       COUNTRY total_bikes
1        China       16000
2        China       20000
3        China       15000
4        China       19165
5        China       22940
6        China       20000
7        China       20000
8        China       18000
9        China       20000
10 Netherlands       21700
11 South Korea       20000

In [ ]:
close(con)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>